body,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  color: #0b0b0b;
}

body {
  background-color: #fafafa;
  position: relative;
  cursor: default;
}

a {
  text-decoration: none;
  color: #0b0b0b;
}

ul,
li {
  list-style: none;
}

/* REMOVE O SELETOR DOS INPUTS TYPE NUMBER */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* [FIM] REMOVE O SELETOR DOS INPUTS TYPE NUMBER */

dl {
  margin: 7px 0;
}

dt,
dd {
  margin: 0px;
}

dt,
dd {
  display: inline-block;
}

dt {
  color: #252525;
}

dd {
  font-weight: normal;
}

.container-principal {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: grid;
  background-color: #ffffff;
  border-top: 3px solid #cccccc;
}

.container.uma-coluna {
  grid-template-columns: 1fr;
  padding-top: 15px;
}

.container.duas-colunas {
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.container.sem-bg {
  background-color: transparent;
}

.container.com-extrato {
  grid-template-columns: 0.7fr 1.3fr;
}

.item-grid-principal {
  background-color: #f0f0f0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.item-grid-secundario {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.box {
  margin: 10px;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-image: linear-gradient(#f5f5f5, #dbdbdb);
}

.box.informacoes {
  background-image: linear-gradient(#f7f7f7, #f4f4f4);
}

/* INFO-BOX */

.info-box {
  display: inline-block;
  padding: 20px;
  max-width: 300px;
  height: max-content;
  background-color: #fff2d0;
  margin: 20px auto;
  border: 3px solid #ffc99f;
  box-shadow: #ffc99f 3px 3px;
  border-radius: 4px;
}

.info-box p {
  display: inline-block;
  line-height: 1.3;
  color: #363d27;
  font-size: 1rem;
  margin: auto auto;
}

.info-box.formulario {
  grid-column: 1 / 3;
  margin: 0;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

.info-box p::before {
  content: "";
  display: block;
  background-image: url(/img/icone-info.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
}

.mes-ano-selecionado {
  /* background-color: rgb(231, 231, 231); */
  font-size: 1.1rem;
  font-family: "Ubuntu", sans-serif;
  color: #01173a;
}

.alerta-necessidade-login {
  display: flex;
  background-color: #f9cc6b;
  width: 100%;
  height: 40px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.linha-resultado-dia-extrato,
.linha-resultado-dia-extrato td {
  padding: 2px 8px;
  font-size: 0.9rem;
  color: #8a8a8a;
  height: 40px;
  text-align: center;
}

.valor-resultado-dia-extrato {
  padding: 5px 10px;
  background-color: #fbfbfb;
}

.tabela.extrato.compacto {
  font-size: 0.95rem;
  color: rgb(31, 31, 31);
  padding: 8px;
}

.extrato {
  width: 100%;
}

.choices {
  font-family: "Roboto", sans-serif !important;
}

.info-tabela-vazia {
  display: inline-block;
  padding-left: 8px;
  height: 20px;
  color: rgb(146, 58, 0);
  font-size: 1rem;
}

.info-tabela-vazia::before {
  content: "";
  position: relative;
  top: 3px;
  margin-right: 5px;
  display: inline-block;
  background-image: url(/img/icos/exclamacao.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
}
