.main-login,
.main-cadastro {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  gap: 40px;
}

/* .main-cadastro{
  grid-template-columns: 1fr 1fr;
} */

.login {
  max-width: 400px;
  background-image: linear-gradient(#f2ffea, #ddffc7);
}

.login form {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
  font-size: 1.2rem;
  align-items: center;
}

.login form label {
  grid-column: 1;
  align-self: center;
}

.login form input {
  grid-column: 2;
  height: 30px;
  align-self: center;
  border: 1px solid #7ca860;
  border-radius: 4px;
}

.container-botao-entrar {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
}

.text-cadastro {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  text-decoration: none;
  margin: 0;
}

.botao-acao-principal.entrar {
  width: 50%;
  height: 40px !important;
  margin: 10px 0px;
  padding: 10px;
  font-size: 1.1rem;
  text-transform: uppercase;
  border: none;
}

.botao-entrar:hover {
  background-color: #052856;
}

.text-apresentacao {
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #c7c7c7;
}

.input-lista-padrao-categorias {
  grid-column: 1 / 3;
}