body {
  background-color: #fafafa;
  min-height: 100%;
  overflow: scroll;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px 0px;
  position: absolute;
  bottom: 0px;
}

.menu-secundario {
  display: flex;
  justify-content: center;
  gap: 50px;
}


[data-showhide] {
  opacity: 0;
}

#msg-placeholder {
  position: fixed;
  height: 0px;
  width: 100%;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

[data-msg] {
  display: flex;
  background-color: rgba(249, 249, 249, 0.97);
  height: 30px;
  width: fit-content;
  padding: 5px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 3px;

}

[data-msg] p {
  font-family: Roboto, sans-serif;
}

[data-msg="s"] {
  color: #004d1d;
  background-color: #f3ffee;
}

[data-msg="e"] {
  color: #4d0000;
  background-color: #ffe6e6;
}

.msg-close-btn {
  background-color: #dddddd;
  color: #808080;
  border: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  font-size: 0.7rem;
}

[data-value-color="positive"] {
  color: #2a581a !important;
}

[data-value-color="negative"] {
  color: #7e2213 !important;
}


[data-value-color="zero"] {
  color: #585858 !important;
}

#chart-form {
  padding: 5px;
  color: #535353;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#chart-form select,
#chart-form button {
  border-radius: 4px;
  border: none;
  color: #535353;
  background-color: #e7e7e7;
  padding: 3px;
}

#chart-form button {
  padding: 3px 13px;
}

/* #monthlyChartContainer {
  grid-column: 1;
}

#yearlyChartContainer {
  grid-column: 1;
}

#lastTransactionContainer {
  grid-column: 2;
  grid-row: 1;
} */