.caixas-saldos {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  padding: 40px 0px;
}

.caixa-saldo {
  display: block;
  background: linear-gradient(#a8a8a8, #818181);
  width: 250px;
  height: 60px;
  padding: 12px 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: default;
}

.caixa-saldo.positivo {
  background: linear-gradient(#389638, #307230);
}

.caixa-saldo.negativo {
  background: linear-gradient(#963838, #723030);
}

.caixa-saldo h3 {
  font-family: 'Open Sans';
  color: #fafafa;
  font-style: italic;
  font-size: 1rem;
}

.caixa-saldo .valor {
  font-size: 2rem;
  color: #ffffff;
}

