h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.titulo-box {
  padding-bottom: 15px;
}

.titulo-box.cadastrar::before {
  content:"";
  background-image: url(/assets/img/ico/register-outl.svg);
  background-repeat: no-repeat;
  background-size:contain;
  display:inline-flex;
  width: 30px;
  height: 30px;
  position: relative;
  top: 6px;
  padding-left: 5px;
}

.titulo-box.ultimo::before {
  content:"";
  background-image: url(/assets/img/ico/last.svg);
  background-repeat: no-repeat;
  background-size:contain;
  display:inline-flex;
  width: 30px;
  height: 30px;
  position: relative;
  top: 6px;
  padding-left: 5px;
}

.titulo-container {
  padding-left: 10px;
  padding-bottom: 15px;
}

.titulo-container.com-subtitulo {
  padding-left: 35px;
  padding-bottom: 0px;
  position: relative;
  font-weight: normal;
  color: #181818;
}

.subtitulo-container {
  padding-left: 35px;
  padding-top: 4px;
  padding-bottom: 15px;
  font-weight: normal;
  color: #3f3f3f;
}


.titulo-container.titulo-extrato.com-subtitulo::before {
  content:"";
  background-image: url(/assets/img/ico/statement_outl.svg);
  background-repeat: no-repeat;
  background-size:contain;
  display: inline-block;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  top: 10px;
}

.titulo-container.titulo-editar.com-subtitulo::before {
  content:"";
  background-image: url(/assets/img/ico/edit.svg);
  background-repeat: no-repeat;
  background-size:contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 10px;
}

/* .titulo.cadastrar.com-subtitulo::before{
  top: 13px;
}

/* .titulo.extrato::before{
  content:"";
  background-image: url(/assets/img/ico/statement.svg);
  background-repeat: no-repeat;
  background-size:contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  top: 2px;
} */

/* .titulo.editar.com-subtitulo, .titulo.extrato.com-subtitulo {
  position: relative; 
}

/* .titulo.editar.com-subtitulo::before,
.titulo.extrato.com-subtitulo::before{
  position: absolute;
  top: 33px;
  left: -13px;
} */

/* .com-subtitulo {
  padding-bottom: 0px;
} */