.container-form-mes-ano {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  grid-column: 1 / 3;
  font-size: 1.2rem;
  background-color: #ebe9e9;
  justify-self: center;
  padding: 10px;
}

.form-mes-ano {
  margin: 0px;
}

.form-mes-ano-campo-mes, .form-mes-ano-campo-ano {
  font-size: 1.2rem;
  background-color: #ebe9e9;
  border: none;
  cursor: pointer;
}

.form-mes-ano-campo-mes {
  width: 25px;
}

.form-mes-ano-campo-ano {
  width: 50px;
}

.form-extrato-ver-tudo {
  margin-top: 1px;
}